.list {
  padding-top: 10px;
  /* min-height: 100%; */
  width: 100%;
}

.clearitems {
  margin: 30px 0px;
}

.editaction {
  float: right;
}

.listoptions {
  margin-top: 50px;
}

.listoptions_section {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding-top: 30px;
}

.empty_list {
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  color: #666;
}

.done_item {
  color: #666;
}

.loading_list_items {
  margin: 100px 0;
}

.item_description {
  color: #888;
}

.done_items {
  margin-top: 20px;
}

.search_suggestions {
  margin-top: 10px;
}

.suggestion_button {
  margin: 3px;
}

.click_to_edit {
  cursor: pointer;
}

.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  /*     color: black; */
  animation: rainbow_animation 4s ease-in-out 1;
  background-size: 400% 100%;
  background-position: 0 0;
}
@keyframes rainbow_animation {
  0% {
    color: transparent;
  }
  50% {
    background-position: 100% 0;
  }
}

.edit_groups_action {
  margin-top: 10px;
  text-align: right;
}

.camera_mode {
  margin-top: 30px;
}

.organize_groups {
  margin-top: 20px;
}

.quantity_button {
  padding: 6px 20px;
}

.list_item_edit_mode {
  padding-top: 35px;
  padding-bottom: 20px;
}

.sorting_handle {
  cursor: ns-resize;
  margin: 10px 5px;
}

.sign_in_reminder {
  margin-top: 60px;
}

.poisoned {
  /* This timeout number needs to be close but still marginally more
  than the timeout used for toggling the 'done' state.
  See the setTimeout in the toggleDoneWrapper() function. */
  animation: fadeOut 0.5s 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.list_header_link {
  text-decoration: none;
  color: black;
}
