.list {
  padding-top: 10px;
  /* min-height: 100%; */
  width: 100%;
}

.clearitems {
  margin: 30px 0px;
}

.editaction {
  float: right;
}

.listoptions {
  margin-top: 50px;
}

.listoptions_section {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding-top: 30px;
}

.empty_list {
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  color: #666;
}

.done_item {
  color: #666;
}

.loading_list_items {
  margin: 100px 0;
}

.item_description {
  color: #888;
}

.done_items {
  margin-top: 20px;
}

.search_suggestions {
  margin-top: 10px;
}

.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  /*     color: black; */
  animation: rainbow_animation 6s ease-in-out 1;
  background-size: 400% 100%;
  background-position: 0 0;
}
@keyframes rainbow_animation {
  0% {
    color: transparent;
  }
  50% {
    background-position: 100% 0;
  }
}

.edit_groups_action {
  margin-top: 10px;
  text-align: right;
}

.organize_groups {
  /* Nothing at the moment */
}
