.list {
  padding-top: 10px;
  /* min-height: 100%; */
  width: 100%;
}

.clearitems {
  margin: 30px 0px;
}

.editaction {
  float: right;
}

.listoptions {
  margin-top: 50px;
}

.listoptions_section {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding-top: 30px;
}

.empty_list {
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  color: #666;
}

.done_item {
  color: #666;
}

.loading_list_items {
  margin: 100px 0;
}

.item_description {
  color: #888;
}

.done_items {
  margin-top: 20px;
}

.search_suggestions {
  margin-top: 10px;
}
