.pictures {
  margin-bottom: 50px;
}

.list_pictures {
  margin-top: 20px;
}

.words {
  margin: 5px;
}

.picture_group {
  padding-bottom: 30px !important;
  margin-bottom: 30px;
}

.debug_found_foodwords {
  margin-top: 20px;
}

.add_picked_words_container {
  margin-top: 10px;
}
