@import "bootstrap/scss/bootstrap";

div.main {
  // Without this hack, the fixed-bottom navbar might always overlay
  // the last items on the page.
  padding-bottom: 80px;
}

@import "./print-overrides";

// For all the uses of the <Loading/> component
.loading {
  text-align: center;
}

// All specifically for the home page
#home {
  padding-top: 90px;
  /* padding: 56px 20px;
  min-height: 100%;
  width: 100%; */

  .login {
    margin-top: 40px;
  }

  .options {
    margin-top: 40px;
  }
  .options p {
    margin-bottom: 30px;
  }
}
