.counters {
  padding-top: 50px;
}

.counters table td,
.counters table th {
  text-align: center;
}

.counters td, .counters th {
  padding: 2px;
}

span.number {
  font-size: 100%;
}

/* Non-responsive... */
@media (min-width: 415px) {

  span.number {
    font-size: 250%;
  }

  .counters td, .counters th {
    padding: 8px;
  }

}
