.shopping {
  padding-top: 10px;
  /*
  This makes it so the whole screen is expanded
  min-height: 100%; */
  width: 100%;
}

.list_preview_items {
  margin-top: 15px;
  list-style-type: none;
  padding-left: 0;
}

.add_new_group {
  margin-top: 40px;
}
